* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 
    padding: 0 16px;
    text-align: center;
  }

  h1, h2 {
      padding-top: 40px;
  }

  form {
      margin-top: 20px;
      margin-bottom: 40px;
  }

  form input {
  width: 50%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 14px;
}

form button {

    background: #f5ba13;
    color: #fff;
    border: none;
    width: 50px;
    height: 29px;
    cursor: pointer;
    outline: none;
  }



  .resultBox {
    padding: 20px;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      margin-bottom: 10px;
  }

  .resultConent {
      text-align: left;
  }
